<h1>Warehouse Inventory Manager (Shopify Intern Challenge)</h1>

<h3>Feature Chosen: Create warehouses/locations and assign inventory to specific locations</h3>

<h3>View and manage inventory by warehouse location:</h3>
<%= button_to 'View Locations', warehouses_path, method: :get %>

<h3>You can also view the entire inventory here:</h3>
<%= button_to 'All Items', '/items', method: :get %>
